streamlit==1.33.0
streamlit-extras==0.2.7
streamlit-option-menu
streamlit-antd-components==0.1.6
ultralytics==8.0.196
seaborn==0.13.2
plotly==5.22.0
python-dotenv==1.0.1
Pillow==10.2.0
numpy==1.26.4
pandas==2.2.2
opencv-python-headless==4.9.0.80
matplotlib==3.8.4
scikit-learn==1.4.2
torch
torchvision
torchaudio
tqdm==4.66.4
requests==2.31.0
protobuf==4.25.3
